# Apache configuration file
# http://httpd.apache.org/docs/2.2/mod/quickreference.html

# Note: ".htaccess" files are an overhead for each request. This logic should
# be placed in your Apache config whenever possible.
# http://httpd.apache.org/docs/2.2/howto/htaccess.html

<IfModule mod_rewrite.c>

# "+FollowSymLinks" must be enabled for this to work symbolically.
# However some hosting companies may already have enabled it, so you should
# deactivate it in order to avoid 500 Internal Server Error.

#	Options +FollowSymLinks

	RewriteEngine On

# For all files not found in the file system, reroute the request to the
# "index.php" front controller, keeping the query string intact

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . index.php [L]

</IfModule>
